/***** BASE STYLES *****/

body {
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	margin: 0px 20px 0px 20px;
}

/***** GRID *****/

.full-width {
	margin: 0 auto;
	overflow: auto;
	width: 1200px;
	
}

.third-width {
	border-top: 1px solid #dedbdc;
	border-bottom: 1px solid #dedbdc;
	float: left;
	height: 250px;
	width: 400px;
}

/***** HEADER *****/

header h1 {
	font-size: 30px;
	line-height: 23px;
	float: left;
	padding: 45px 0 40px 0;	
}

header h1 span {
	color: #77a466;
}

nav {
	float:right;
	padding: 45px 0 40px 0;
	word-spacing: 25px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #77a466;
	font-size: 14px;
	font-weight: bold;
	line-height: 23px;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
}

/**** TOP SECTION *****/

.top-img img {
	border-top: 3px solid #77a466; 
	border-bottom: 3px solid #77a466; 
}

.top-text h2 {
	color: #77a466;
	font-size: 18px;
	line-height: 23px;
	margin-top: 25px;
	text-transform: uppercase;
}

.top-text p {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 35px;
}

/***** BOTTOM-SECTION *****/

 .box-one {
 	height: 225px;
 	padding-top: 25px;
 }

.box-one h3 {
	font-size: 12px;
	line-height:25px;
	margin-top: 0;
	text-transform: uppercase;
}

.box-one ul{
	height: 175px;
	line-height: 18px;
	list-style: none;
	margin: 0;
	padding:0;
}

.box-one ul li a  {
	color: #77a466;
	font-size: 16px;
	line-height: 40px;
	text-decoration: none;
}

.box-two {
	border-left: 1px solid #dedbdc;
	border-right: 1px solid #dedbdc;
	height: 225px;
	padding: 25px 40px 0px 25px;
}

.box-two h3 {
	font-size: 12px;
	line-height: 25px;
	margin-top:0;
	text-transform: uppercase;
}

.box-two p {
	font-size: 16px; 
	line-height: 24px;
	margin-bottom: 0px;
}

.box-three {
	height: 225px;
	margin-left: 25px;
	padding-top: 25px; 
}

.box-three h3 { 
	font-size: 12px;
	line-height: 25px;
	margin: 0;
	text-transform: uppercase;
}

.box-three p {
	font-size: 16px;
	line-height: 24px;
}

/***** FOOTER *****/

footer {
	font-size: 16px;
	line-height: 23px;
}

footer h2 {
	text-align: center;
	text-transform: uppercase;
}

footer h2 span{
	color: #77a466;
	font-family: 'Galada', cursive;
	text-transform: none;
}











